<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeeklyWallpapor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WeeklyWallpapor.Properties.Settings>
            <setting name="SaturdayPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SundayPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MondayPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TuesdayPath" serializeAs="String">
                <value />
            </setting>
            <setting name="WednesdayPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ThursdayPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FridayPath" serializeAs="String">
                <value />
            </setting>
        </WeeklyWallpapor.Properties.Settings>
    </userSettings>
</configuration>